@tailwind base;
@tailwind components;
@tailwind utilities;






/* media query */

@media (max-width: 768px) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1025px) {
    .video {
        width: 100%;
        height: auto;
    }
}


